[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/moreddyy
[access "refs/for/refs/*"]
	read = group user/moreddyy
	push = group user/moreddyy
	label-Code-Review = -2..+2 group user/moreddyy
	label-Verified = -1..+1 group user/moreddyy
	rebase = group user/moreddyy
	removeReviewer = group user/moreddyy
	submit = group user/moreddyy
[access "refs/heads/*"]
	read = group user/moreddyy
	create = group user/moreddyy
	push = +force group user/moreddyy
	pushMerge = group user/moreddyy
[access "refs/tags/*"]
	push = group user/moreddyy
	push = +force group user/moreddyy
